<% content_for :movieDesc do %>


<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag (image_url(@movie["Poster"])), class: "some css class here" %>
       

        <%-if (Watchlist.where(UserId: 1,MovieId: params[:mid])).count == 0 %>
          <div class ="row">
            <%= form_tag(controller: "sessions", action: "Add_watchlist" ,method: "post") do %>
              <input type="hidden" name="MovieID" value =<%= @movie['imdbID'] %>  ></td>
              <%= submit_tag("Add to my WatchList", class: "btn btn-success btn-md" ) %>
            <% end %>
          </div>
          <% else %>
            <div class ="row">
              <%= form_tag(controller: "sessions", action: "remove_watchlist" ,method: "post") do %>
                <input type="hidden" name="MovieID" value =<%= @movie['imdbID'] %>  ></td>
                <%= submit_tag("remove from my WatchList", class: "btn btn-danger btn-md" ) %> 
              <% end %>
              </div>
          <%end %>

          
        <%-if (Nointrest.where(UserId: 1,MovieId: params[:mid])).count == 0 %>
          <div class ="row">
            <%= form_tag(controller: "sessions", action: "Not_intrested" ,method: "post") do %>
              <input type="hidden" name="MovieID" value =<%= @movie['imdbID'] %>  ></td>
              <%= submit_tag("Not intrested", class: "btn btn-danger btn-md" ) %>
            <% end %>
          </div>
          <% else %>
            <div class ="row">
              <%= form_tag(controller: "sessions", action: "remove_not_intrested" ,method: "post") do %>
                <input type="hidden" name="MovieID" value =<%= @movie['imdbID'] %>  ></td>
                <%= submit_tag("remove from not intrested list", class: "btn btn-success btn-md" ) %> 
              <% end %>
              </div>
          <%end %>
         </div>
 <div class="col-md-6">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie["Title"] %> </td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie["Plot"] %></td>
              </tr>
              <tr>
                <td><strong>Movie length:</strong></td>
                <td><%= @movie["Runtime"] %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie["Director"] %> </td>
              </tr>
              <tr>
              <tr>
                <td><strong>Writer:</strong></td>
                <td><%= @movie["Writer"] %> </td>
              </tr>
              <tr>
                <td><strong>Actors:</strong></td>
                <td><%= @movie["Actors"] %> </td>
              </tr>
              <tr>
                <td><strong>Genre:</strong></td>
                <td><%= @movie["Genre"] %> </td>
              </tr>
              <tr>
                <td ><strong>IMDB Rating:</strong></td>
                <td id="IMDB"> <%= @movie["imdbRating"] %></td>
                
                
                
              </tr>
              <tr>

              <%= form_tag(controller: "sessions", action: "save_comments" ,method: "post") do %>
       <td> <%= label_tag(:q, "Comment:") %> </td>
 <td><%= text_area_tag(:message, "", size: "60x6" ,placeholder: "comments") %> 
  <input type="hidden" name="MovieID" value =<%= @movie['imdbID'] %>  ></td>
  <td><%= submit_tag("comment", class: "btn btn-primary btn-md" ) %> </td>

<% end %>
</tr>
            </tbody>
          </table>
        </div>
     </div>
    </div>
  </div>
</div> 
<% @comments.each do |comment| %>
<div class="container">
<div class="row">
<div class="col-sm-12">

</div><!-- /col-sm-12 -->
</div><!-- /row -->
<div class="row">
<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong><%=comment[0]%>: </strong> 
</div>
<div class="panel-body">
<%= comment[1] %>
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->




</div><!-- /row -->

</div><!-- /container -->
<% end %>

<script>

 $(function () {
 
  $("#IMDB").rateYo({
    rating: ($('#IMDB').text())/2,
    readOnly: true
  });
});
</script>

   <% end %>